@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.create {
    @include flexCenterContainer(map-get($colors, "primary"));
    margin: $base-margin;
    height: 10rem;

    .form {
        @include flexCenterContainer(map-get($colors, "primary"));
        flex-direction: column;
        gap: $base-gap;
        width: 14rem;
        height: 10rem;
        border: solid 2px black;
    }

    .addBtn {
        width: 5rem;
        height: 3rem;
        background-color: map-get($colors, "primary");
        border: solid 2px black;

        &:hover {
            cursor: pointer;
        }
    }
}