@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.list{
    margin: $base-margin * 3;
    min-height: 100vh
}

.empty {
    @include flexCenterContainer;
    font-size: calc($base-font-size * 2);
    margin: $base-margin * 3;
}