@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.sort {
    @include crudButton(map-get($colors, "primary"));
    display: flex;
    flex-direction: column;
    align-items: end;

    .crudBtn {
        margin: 0;
        padding: 0;
    }

    // Adjusting tooltip of the Add button
    .crudBtn:hover .tooltip {
        top: -60px;
    }
}

.sortTwo {
    // FIX MARGIN TOP
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    z-index: 1;
}

.sortingOptions {
    display: flex;
    flex-direction: column;
    align-items: end;
}