@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.about {
    @include flexCenterContainer(map-get($colors, "transparent"));
    @include basicButton;
    flex-direction: column;
    gap: calc($base-gap * 4);
    min-height: 70vh;

    h2 {
        font-size: calc($base-font-size * 1.6);
        font-weight: bold;
    }

    .info {
        @include flexCenterContainer(map-get($colors, "transparent"));
        flex-direction: column;
        gap: calc($base-gap * 2);
        font-size: calc($base-font-size * 1.3);
        padding: $base-padding;
    }
}