@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';
@import '../../scss/breakpoints.scss';

// Background taking the entire screen
.overlay {
    @include flexCenterContainer(rgba(0, 0, 0, 0.2));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100vw;
    height: 100%;
    z-index: 3;
    -webkit-animation: fadein 1.5s ease-in;
    -moz-animation: fadein 1.5s ease-in;
    animation: fadein 1.5s ease-in;

    @keyframes fadein {
        0% {
            opacity: 0;
        }

        30% {
            opacity: 1;
        }

        100% {
            opacity: 1;
        }
    }

    // Confirm window
    .confirm {
        @include flexCenterContainer(map-get($colors, "transparent"));
        @include basicButton;
        flex-direction: column;
        gap: calc($base-gap* 4);
        font-size: calc($base-font-size * 2);
        text-align: center;
        width: 70%;
        max-width: 60rem;
        padding: $base-padding;
        border-radius: $base-border-radius;
        background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
    }
}