@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.home {
    @include flexCenterContainer(map-get($colors, "primary"));
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    .sorting {
        @include flexCenterContainer(map-get($colors, "primary"));
        justify-content: space-between;
        gap: $base-gap;
    }
}