@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.home {
    @include flexCenterContainer(map-get($colors, "transparent"));
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;

    .holder {
        width: 86%;
    }

    .sorting {
        @include flexCenterContainer(map-get($colors, "transparent"));
        align-items: flex-end;
        justify-content: space-between;
        gap: $base-gap;
        padding: $base-padding 0;
        margin: $base-margin 0;
    }
}