@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.header {
    @include flexCenterContainer(map-get($colors, "transparent"));
    @include crudButton(map-get($colors, "secondary"));
    flex-direction: column;
    margin: $base-margin;

    a {
        text-decoration: none;
        color: map-get($colors, "secondary");
    }

    .nav {
        width: 100%;
        margin: calc($base-margin);

        .list {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-family: 'Kablammo', cursive;
            font-size: calc($base-font-size * 2);

            span {
                color: map-get($colors, "secondary");
            }

            a:hover {
                color: (map-get($colors, "white"));
            }
        }
    }

    h1 {
        font-family: 'Kablammo', cursive;
        font-size: calc($base-font-size * 3);
    }
}