@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.login {
    @include flexCenterContainer(map-get($colors, "transparent"));
    @include inputField(map-get($colors, "primary-dark"));
    min-height: 80vh;

    form {
        @include flexCenterContainer(map-get($colors, "transparent"));
        flex-direction: column;
        width: 20%;

        .btnHolder {
            @include flexCenterContainer(map-get($colors, "transparent"));
            @include basicButton;
            gap: $base-gap;
            margin: calc($base-margin / 1.5);
        }
    }
}