@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';

.paginator {
    @include flexCenterContainer(map-get($colors, "transparent"));
    @include crudButton(map-get($colors, "primary-dark"));
    @include btnHolder;

    .pageNumber {
        font-size: $base-font-size * 1.5;
    }

    .crudBtn {
        padding: 0;
        margin: 0;
    }
}